<%- include('includes/header') %>

<div class="container reg-page">
<% if(locals.errors){%>
<% errors.forEach(function(error){%>
<div class="alert alert-danger"><%= error.msg %></div>
<%})%>
  <% }%>
  <%- messages() %>
  <form class="form-signin" method="post" action="/users/register">
    <h2 class="form-signin-heading">Register now</h2>
    <labelclass="sr-only">Name</label>
    <input type="text" class="form-control" placeholder="name" name="name" required value="<%= (!!locals.name)?name:'' %>"  autofocus>
    <labelclass="sr-only">Email</label>
    <input type="email" class="form-control" placeholder="email" name="email" value="<%= (!!locals.email)?email:'' %>"  required autofocus>

    <labelclass="sr-only">Username</label>
    <input type="text" class="form-control" placeholder="username" name="username" value="<%= (!!locals.username)?username:'' %>" required autofocus>
    <labelclass="sr-only">Password</label>
    <input type="password" class="form-control" placeholder="password" name="password" value="<%= (!!locals.password)?password:'' %>" required autofocus>
    <labelclass="sr-only">Confirm Password</label>
    <input type="password" class="form-control" placeholder="password" name="password2" value="<%= (!!locals.password2)?password2:'' %>" required autofocus>
      <label>
        <input type="checkbox" value="remember-me"> Remember me
      </label>
      <p>Already have account?<a href="/users/login" class="btn">Sign-In</a></p>
      <button class="btn btn-default btn-lg" type="Submit">Sign-up</btn> 
    </div>
    
  </form>

<%- include('includes/footer') %>